<!DOCTYPE html>
<html>

<head>
  <script th:inline="javascript">

    var alertStr2 = /*[[${room}]]*/
      function test1() {
        alert(alertStr2.id);
      }
    var alertStr3 = /*[[${roomid}]]*/
      function test2() {
        alert(alertStr3);
      }
    window.onload = function () {
      var sse1 = new EventSource('/intoRoom?test=' + alertStr3);
      var buffer = 0;
      var ele = document.getElementById('e');
      sse1.onmessage = function (event) {
        console.log(event.data);
        var room = event.data[0];
        var q = 0;
        var f = 0;
        var f2 = 0;
        var a = '';
        var b = '';
        var c = '';
        var i = 0;
        while (i != 150) {
          i++;

          console.log(event.data[i]);
          if (event.data[i] == '}') {
            f = 0;
            f2++;
          }

          if (f == 1 && f2 == 0) {
            a += event.data[i];
            q = 0;
          }
          if (f == 1 && f2 == 1) {
            b += event.data[i];
            q = 0;
          }
          if (f == 1 && f2 == 2) {
            c += event.data[i];
            q = 0;
          }

          if (event.data[i] == '"' || event.data[i] == ':') {
            q++;
            if (q == 9) {
              f++;
            }

          }
        }
        document.getElementById("a").textContent = a;
        document.getElementById("b").textContent = b;
        document.getElementById("c").textContent = c;
        console.log(a);
        for (var i = 0; i < a - buffer; i++) {
          ele.insertAdjacentHTML('beforeend', '<img src="/img/domino_daoshi.png">');
        }
        buffer = a;
      }
    }
    var q = 0;
    var f = 0;
    for (var i = 0; event.data[i] == '\0'; i++) {

      if (event.data[i] == '}') {
        f = 0;
      }

      if (f == 1) {
        a += event.data[i];
        q = 0;
      }

      if (event.data[i] == '"' || event.data[i] == ':') {
        q++;
        if (q == 9) {
          f++;
        }

      }

    }
  </script>
</head>

<body>

  <a th:href="@{/back(userid=${user.id})}">もどる</a><br>

  <div th:if="${room}">
    <p>No.[[${room.id}]]</a></p>
  </div>
  <input type="button" value="Room.id," onclick="test1();" />
  <input type="button" value="RoomNo2," onclick="test2();" />

  <div th:if="${user}">
    あなたのID:[[${user.id}]]
    <div th:if="${count}">
      部屋の人数:[[${count}]]
    </div>
    <div th:if="${room}">
      RoomNo.1のドミノ数:<a id="a"></a><br>
      RoomNo.2のドミノ数:<a id="b"></a><br>
      RoomNo.3のドミノ数:<a id="c"></a>
    </div>
  </div>

  <div id="e"></div>

  <a th:href="@{/dominoSet(id=${room.id}, userid=${user.id})}">ドミノを設置</a><br>
  <a th:href="@{/dominoKnock(id=${room.id}, userid=${user.id})}">ドミノを倒す</a><br>

  <br>
  <div th:if="${player}">
    <div th:each="play:${player}">
      <tr>
        <td>[[${play.id}]]がドミノを置いた</td>
      </tr>
    </div>
  </div>

</body>

</html>
