<!DOCTYPE html>
<html>

<head>
  <script src="\jQuery\jquery-3.6.3.min.js"></script>
  <link rel="stylesheet">
  <script th:inline="javascript">
    var num = 1;
    var num2 = 1;
    var alertStr2 = /*[[${room}]]*/
      function test1() {
        alert(alertStr2.id);
      }
    var alertStr3 = /*[[${roomid}]]*/
      function test2() {
        alert(alertStr3);
      }
    var test = function(){
      const elem =document.getElementsByClassName('imger'); 
      for(let i = elem.length - 1; i >= 0; i-- ){
        if(i == elem.length - 1){
          setTimeout(down2, (elem.length - 1) * 100,elem[elem.length-1],elem[i]);
        }else{
          setTimeout(down, i*100,elem[i]);
        }
      }
      const link = /*[[@{/dominoKnock(id=${room.id}, userid=${user.id})}]]*/'';
      $('div.Fall_Down').html('<a href="' + link + '">満足した</a>');
    }
    var down = function(elem){
      elem.innerHTML = '<img class="imger" src="/img/domino_倒れ.png" alt="picture" width="70.5" height="101" class=example></img>';
    }
    var down2 = function(elem){
      elem.innerHTML = '<img class="imger" src="/img/domino_完全に倒れ.png" alt="picture" width="140.5" height="50" class=example></img>';
    }
    var textTest = function(){
      console.log("test");
    }
    window.onload = function () {
      var sse1 = new EventSource('/intoRoom?test=' + alertStr3);
      var buffer = 0;
      var ele = document.getElementById('e');
      var childEle = document.createElement('childEle');
      ele.appendChild(childEle);
      sse1.onmessage = function (event) {
        console.log(event.data);
        var room = event.data[0];
        var q = 0;
        var f = 0;
        var f2 = 0;
        var a = '';
        var b = '';
        var c = '';
        var i = 0;
        while (i != 150) {
          i++;
          console.log(event.data[i]);
          if (event.data[i] == '}') {
            f = 0;
            f2++;
          }
          if (f == 1 && f2 == 0) {
            a += event.data[i];
            q = 0;
          }
          if (f == 1 && f2 == 1) {
            b += event.data[i];
            q = 0;
          }
          if (f == 1 && f2 == 2) {
            c += event.data[i];
            q = 0;
          }
          if (event.data[i] == '"' || event.data[i] == ':') {
            q++;
            if (q == 9) {
              f++;
            }
          }
        }
        document.getElementById("a").textContent = a;
        document.getElementById("b").textContent = b;
        document.getElementById("c").textContent = c;
        console.log(a);
        //ele.removeChild(childEle);
        childEle.remove();
        childEle = document.createElement('childEle');
        ele.appendChild(childEle);
        if(alertStr3 == '1'){
          for (var i = 0; i < a; i++) {
            childEle.insertAdjacentHTML('beforeend', '<a class = "imger"> <img class="img"src="/img/domino_daoshi2.png" alt="picture" width="42.5" height="101" class=example' + a + '> </img></a>');
          }
        }
        if(alertStr3 == '2'){
          for (var i = 0; i < b; i++) {
            childEle.insertAdjacentHTML('beforeend', '<a class = "imger"> <img class="img"src="/img/domino_daoshi2.png" alt="picture" width="42.5" height="101" class=example' + b + '> </img></a>');
          }
        }
        if(alertStr3 == '3'){
          for (var i = 0; i < c; i++) {
            childEle.insertAdjacentHTML('beforeend', '<a class = "imger"> <img class="img"src="/img/domino_daoshi2.png" alt="picture" width="42.5" height="101" class=example' + c + '> </img></a>');
          }
        }
        buffer = a;
        console.log(buffer + "画像の数");
      }
    }
    var q = 0;
    var f = 0;
    // for (var i = 0; event.data[i] == '\0'; i++) {

    //   if (event.data[i] == '}') {
    //     f = 0;
    //   }

    //   if (f == 1) {
    //     a += event.data[i];
    //     q = 0;
    //   }

    //   if (event.data[i] == '"' || event.data[i] == ':') {
    //     q++;
    //     if (q == 9) {
    //       f++;
    //     }

    //   }

    // }
  </script>
</head>

<body>
  
  <a th:href="@{/back(userid=${user.id})}">もどる</a><br>

  <div th:if="${room}">
    <p>No.[[${room.id}]]</a></p>
  </div>
  <input type="button" value="今いる部屋" onclick="test1();" />
  <input type="button" value="受け取ったRoomID" onclick="test2();" />

  <div th:if="${user}">
    あなたのID:[[${user.id}]]
    <div th:if="${count}">
      部屋の人数:[[${count}]]
    </div>
    <div th:if="${room}">
      RoomNo.1のドミノ数:<a id="a"></a><br>
      RoomNo.2のドミノ数:<a id="b"></a><br>
      RoomNo.3のドミノ数:<a id="c"></a>
    </div>
  </div>

  <a th:href="@{/dominoSet(id=${room.id}, userid=${user.id})}">ドミノを設置</a><br>
  <div class="Fall_Down">
  <input type="button" value="ドミノを倒す" onclick="test()">
  </div>
  <br>
  <div id="e"></div>

  <br>
  <div th:if="${player}">
    <div th:each="play:${player}">
      <tr>
        <td>[[${play.id}]]がドミノを置いた</td>
      </tr>
    </div>
  </div>

</body>

</html>
