<!DOCTYPE html>
<html>

<head>
  <script th:inline="javascript">
    var alertStr2 = /*[[${alertString2}]]*/
      function test1() {
        alert(alertStr2);
      }
    window.onload = function () {
      var sse = new EventSource('/intoRoom?test=' + alertStr2);

      sse.onmessage = function (event) {
        console.log(event.data);
        document.getElementById("a").textContent = event.data;
      }
    }
  </script>
</head>

<body>

  <a th:href="@{/back(userid=${user.id})}">もどる</a><br>

  <div th:if="${room}">
    <p>No.[[${room.id}]]</p>
  </div>
  <input type="button" value="RoomNo," onclick="test1();" />
  <div th:if="${user}">
    あなたのID:[[${user.id}]]
    <div th:if="${count}">
      部屋の人数:[[${count}]]
    </div>
    <div th:if="${room}">
      ドミノの数:<a id="a"></a>
    </div>
  </div>

  <a th:href="@{/dominoSet(id=${room.id}, userid=${user.id})}">ドミノを設置</a><br>
  <a th:href="@{/dominoKnock(id=${room.id}, userid=${user.id})}">ドミノを倒す</a><br>

  <br>
  <div th:if="${player}">
    <div th:each="play:${player}">
      <tr>
        <td>[[${play.id}]]がドミノを置いた</td>
      </tr>
    </div>
  </div>

</body>

</html>
